@model DAL.Models.ViewModels.BookAppointmentViewModel

@{
    ViewData["Title"] = "Book Appointment";
}

<h1>Book Appointment</h1>
<hr />
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Doctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentTime)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select name="listbox" id="listbox">
                    @foreach (var item in Model.Patients)
                    {
                        <option value="@item.MailAddress">
                            @item.MailAddress
                        </option>                  
                    }
                </select>
                <span asp-validation-for="Patients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
