@model BLL.DTO.AppointmentDto;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomDto.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomDto.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDto.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorDto.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDto.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientDto.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AdminEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
