@model DAL.Models.ViewModels.PatientSearchDoctorsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search by specialty results</h1>

<p>
    Specialty: @Html.DisplayFor(modelItem=> @Model.DoctorSpecialty)
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Doctors[0].FullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doctors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Show available appointments</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
