@model DAL.Models.ViewModels.PatientSearchDoctorsViewModel

@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .table-row-hidden {
        display: none
    }
    .table-row-clickable {
        cursor: pointer
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorSpecialty)
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Doctors)
        {
            <tr onclick="ToggleRowDisplay(@i)" class="table-row-clickable">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Show available appointments</a>
                </td>
            </tr>
            var rowName = "DoctorInfoRow" + i;
            <tr id=@rowName class="table-row-hidden">
                <td class="border-0">
                    <div>@Html.DisplayFor(modelItem => item.FullName) is a very good doctor</div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    function ToggleRowDisplay(rowIndex) {
        const id = `#DoctorInfoRow${rowIndex}`;
        const nextRow = $(id);      
        nextRow.toggleClass("table-row-hidden");
    }
</script>
@*table-row-hidden*@